/* $Id: fink.css,v 1.23 2004/04/28 01:30:30 babayoshihiko Exp $ */
/* A good way to get colors which fit well together is to use the color wheel
 found at http://www.pixy.cz/apps/barvy/. Many of the colors in this CSS style
 were created by starting at #ffcc66 (hue 70, saturation 60, brightness 100),
 and then using the "soft contrast (split complements)" scheme.
 */
body { color:black; background-color:white;  font-family:"Trebuchet MS",sans-serif;}

a:link { color:#613D99; }

a:visited { color:#4D3D66; }

a:active { color:#FFCC66; }

table {
	background-color: transparent ;
	border-style: solid ;
	border-width: 0px ;
	border-color:  #ffffff;
	border-collapse: separate ;
	border-spacing: 0px ;
	margin: 0px ;
	padding: 0px ;
}

table.header {
}

table.main {
	border-style: solid ;
	border-width: 4px 0px 0px 0px ;
	border-color: #ffcc66 #ffffff #ffffff #ffffff;
}

table.footer {
	border-style: solid ;
	border-width: 0px 0px 3px 0px ;
	border-color: #ffffff #ffffff #999999 #ffffff;
}

p,ul,ol,li,dl,dt,dd,td,th { 
	color: black ;  
	font-family: "Trebuchet MS",sans-serif ;
	font-size: 11pt ;
}

/* Layout and Spacing.  Use px because others don't work with Mac IE */
td { 
	margin: 4px ;
	padding: 4px ;
}

td.layout { 
	font-size: 0px;
	border-style: none ;
	border-width: 0px ;
	margin: 0px ;
	padding: 0px ;
}

td.header {
	margin: 4px ;
	padding: 4px ;
}

td.main_left {
	background-color: #eee ;
	width: 120px ;
	margin: 0px ;
	padding: 0px ;
}

td.main {
	text-align: left ;
	margin: 10px ;
	padding: 10px ;
}

td.footer_left {
	text-align: center ;
	background-color: #eee ;
	width: 120px ;
	margin: 0px ;
	padding: 0px ;
}

td.footer {
	text-align: center ;
	margin: 0px 10px ;
	padding: 0px 10px ;
}

h1 {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:18pt;  font-weight:bold; }

h2 {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:12pt;  font-weight:bold; }

.default {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:11pt; }

.attention { color:red; }

/* Used mainly in the Navigation bar on the left */
ul.menu {
	background-color: #eee ;
	font-family: Verdana, Helvetica, Arial, sans-serif ; 
	border-collapse: collapse ;
	border-style: solid ;
	border-width: 0px ;
	border-color: #fff ;
	padding: 0px ;
	margin: 0px ;
}

ul.menu li {
	border-style: solid ;
	border-width: 0px 0px 1px 0px ;
	border-color: #fff ;
	list-style-type: none ;
	padding: 0px ;
}

ul.menu li.menu_item {
	font-weight: bold ;
	margin: 0px ;
}

ul.menu li.menu_subitem {
	font-weight: normal ;
	margin: 0px 0px 0px 8px ;
}

ul.menu li div {
	font-size: 9pt ;
	border-style: solid ;
	border-width: 0px 0px 0px 8px ;
	border-color: #666 ;
	margin: 0px ;
	padding: 3px ;
	display: block ;
}

ul.menu li div.selected {
	background-color: #fc6 ;
}

ul.menu li a {
	background-color: #eee ;
	font-size: 9pt ;
	text-decoration: none ;
	border-style: solid ;
	border-width: 0px 0px 0px 8px ;
	border-color: #ccc ;
	margin: 0px ;
	padding: 3px ;
	display: block ;
}

ul.menu li a:hover {
	background-color: #ffe6b3 ;
	border-color: #999 ;
}

.nav { color:black;  font-family:Verdana,Helvetica,Arial,sans-serif; font-size:8pt; }

/* Footer */
div.footer {
	color:black ;
	font-family:"Trebuchet MS",sans-serif ;
	font-size:10pt ;
	text-align: center ;
}

/* Used for News */
.news-date { color:rgb(96,96,96); font-size:10pt; font-weight:bold; }

.news-headline { font-size:10pt; font-weight:bold; }

input { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

tt { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

code { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt;  white-space:nowrap; }

pre { color:black;  background-color:#FFF2D9;  padding:4px;  padding-left:8px;  margin-left:16px;  margin-right:16px;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

img { border:0; }

/* For Legal Statement */
.legalheadBig
{
	font-size: 2.0em;
	line-height: 1.0em;
	font-weight: bold;
}

.legalhead
{
	font-size: 1.5em;
	line-height: 1.3em;
	font-weight: bold;
}

.legal
{
	word-spacing: 0.3em;
	margin: 5px;
	font-size: 1.0em;
	line-height: 1.3em;
}
