/* $Id: fink.css,v 1.5 2002/04/17 15:34:16 fingolfin Exp $ */

body {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
}

a:link {
  color:rgb(0,0,240);
  background-color:white;
}
a:visited {
  color:rgb(128,0,128);
  background-color:white;
}
a:active {
  color:rgb(255,51,51);
  background-color:white;
}

p,ul,ol,li,dl,dt,dd,td,th {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
  font-size:11pt;
}

h1 {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
  font-size:18pt;
  font-weight:bold;
}

h2 {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
  font-size:12pt;
  font-weight:bold;
}

p.nav {
  color:black;
  background-color:white;
  font-family:Verdana,Helvetica,Arial,sans-serif;
  font-size:8pt;
}

p.footer {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
  font-size:10pt;
}

input {
  color:black;
  background-color:white;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

tt {
  color:black;
  background-color:white;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

pre {
  color:black;
  background-color:rgb(230,230,255);
  padding:4px;
  padding-left:8px;
  margin-left:16px;
  margin-right:16px;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

img {
  border:0;
}
