/* $Id: fink.css,v 1.20 2004/03/01 10:24:01 babayoshihiko Exp $ */
/* A good way to get colors which fit well together is to use the color wheel
 found at http://www.pixy.cz/apps/barvy/. Many of the colors in this CSS style
 were created by starting at #ffcc66 (hue 70, saturation 60, brightness 100),
 and then using the "soft contrast (split complements)" scheme.
 */
body { color:black; background-color:white;  font-family:"Trebuchet MS",sans-serif;}

a:link { color:#613D99; }

a:visited { color:#4D3D66; }

a:active { color:#FFCC66; }

table {
	background-color: transparent ;
	border-style: none ;
	border-width: 0px ;
	border-collapse: separate;
	border-spacing: 0px;
	margin: 0px ;
	padding: 0px ;
}

p,ul,ol,li,dl,dt,dd,td,th { color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:11pt; }

td.layout { 
	font-size: 0px;
	border-style: none ;
	border-width: 0px ;
	margin: 0px;
	padding: 0px 0px ;
}

h1 {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:18pt;  font-weight:bold; }

h2 {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:12pt;  font-weight:bold; }

.default {  color:black;  font-family:"Trebuchet MS",sans-serif;  font-size:11pt; }

.attention { color:red; }

.yellowboarder {
	border-style: solid ; 
	border-width: 0px 0px 4px 0px ;
	border-color: #ffcc66 ;
	margin: 0px ;
	padding: 4px ;
}

dl {
	background-color: transparent ;
	margin: 0px ;
	padding: 0px ;
}

dd {
	background-color: #eeeeee ;
	font-family: Verdana,Helvetica,Arial,sans-serif ;  
	font-size: 8pt ;
	font-weight: bold ;
	text-align: left ;
	border-style: solid ;
	border-width: 1px 0px 0px 0px ;
	border-color: #ffffff ;
	padding: 0px ;
}

dd.menu_item {
	margin: 0px 0px 0px 0px ;
}

dd.menu_subitem {
	margin: 0px 0px 0px 8px ;
	font-weight: normal ;
}

dd div {
	border-style: solid ;
	border-width: 0px 0px 0px 8px ;
	border-color: #666666 ;
	margin: 0px ;
	padding: 2px 4px ;
	display: block ;
}

dd div.file {
	background-color: #ffcc66 ;
}

dd a {
	text-decoration: none ;
	border-style: solid ;
	border-width: 0px 0px 0px 8px ;
	border-color: #cccccc ;
	margin: 0px ;
	padding: 2px 4px ;
	display: block ;
}

dd a:hover {
	background-color: #ffe6b3 ;
	border-color: #999999 ;
}

.nav { color:black;  font-family:Verdana,Helvetica,Arial,sans-serif; font-size:8pt; }

.footer { color:black;  font-family:"Trebuchet MS",sans-serif; font-size:10pt; }

.news-date { color:rgb(96,96,96); font-size:10pt; font-weight:bold; }

.news-headline { font-size:10pt; font-weight:bold; }

input { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

tt { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

code { color:black;  font-family:Courier,"Courier New",monospace;  font-size:10pt;  white-space:nowrap; }

pre { color:black;  background-color:#FFF2D9;  padding:4px;  padding-left:8px;  margin-left:16px;  margin-right:16px;  font-family:Courier,"Courier New",monospace;  font-size:10pt; }

img { border:0; }

.legalheadBig
{
	font-size: 2.0em;
	line-height: 1.0em;
	font-weight: bold;
}

.legalhead
{
	font-size: 1.5em;
	line-height: 1.3em;
	font-weight: bold;
}

.legal
{
	word-spacing: 0.3em;
	margin: 5px;
	font-size: 1.0em;
	line-height: 1.3em;
}
